<HTML>
<HEAD>
    <TITLE>H.O.M.E. - Weather Dashboard</TITLE>
</HEAD>
<BODY>
    <DIV align="center">
        <TABLE width=80% align="center">
            <TR>
                <TD><H2>Inside</H2></TD>
                <TD><H2>Outside</H2></TD>
            </TR>
            <TR>
                <TD><H3>Temperature</H3></TD>
            </TR>
            <TR>
                <TD>
                    {{temperature_in}}
                    {% if temperature_in > prev_temperature_in %}
                    and rising
                    {% else %}
                    and falling
                </TD>
                <TD>{{temperature_out}}</TD>
            </TR>
            <TR>
                <TD><H3>Humidity</H3></TD>
            </TR>
            <TR>
                <TD>{{humidity_in}}</TD>
                <TD>{{humidity_out}}</TD>
            </TR>
            <TR>
                <TD><H3>Pressure</H3></TD>
            </TR>
            <TR>
                <TD>{{pressure}}</TD>
            </TR>
            <TR>
                <TD>{{dew_point>></TD>
            </TR>
        </TABLE>
    </DIV>
</BODY>
</HTML>